annotated-types @ file:///C:/b/abs_0dmaoyhhj3/croot/annotated-types_1709542968311/work
anyio @ file:///C:/b/abs_5c8w79vk0u/croot/anyio_1745334672105/work
certifi @ file:///C:/b/abs_43o9lm92p9/croot/certifi_1750863864870/work/certifi
colorama @ file:///C:/ci_311/colorama_1676422310965/work
distro @ file:///C:/b/abs_71xr36ua5r/croot/distro_1714488282676/work
h11 @ file:///C:/b/abs_224rqu7kel/croot/h11_1748442031959/work
httpcore @ file:///C:/b/abs_25m7_xthp6/croot/httpcore_1748526065845/work
httpx @ file:///C:/b/abs_9fclaf1b46/croot/httpx_1746747856672/work
idna @ file:///C:/b/abs_aad84bnnw5/croot/idna_1714398896795/work
jiter @ file:///C:/b/abs_acsxrw36a6/croot/jiter_1729808947806/work
openai @ file:///C:/b/abs_f3ev2tn7ms/croot/openai_1746690315854/work
pydantic @ file:///C:/b/abs_d1rp6fqxgk/croot/pydantic_1750768285689/work
pydantic_core @ file:///C:/b/abs_d0xs0z3erk/croot/pydantic-core_1750754747982/work
PyYAML @ file:///C:/b/abs_14xkfs39bx/croot/pyyaml_1728657968772/work
sniffio @ file:///C:/b/abs_3akdewudo_/croot/sniffio_1705431337396/work
tenacity @ file:///C:/b/abs_1749lsqys6/croot/tenacity_1730304400080/work
tqdm @ file:///C:/b/abs_0eh9b6xugj/croot/tqdm_1738945553987/work
typing-inspection @ file:///C:/b/abs_261c5jt6kx/croot/typing-inspection_1746023491500/work
typing_extensions @ file:///C:/b/abs_0ffjxtihug/croot/typing_extensions_1734714875646/work
